<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <script
      async
      src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
    ></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/prism.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/components/prism-bash.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/components/prism-javascript.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/components/prism-java.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/components/prism-liquid.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/components/prism-markdown.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/components/prism-markup-templating.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/components/prism-css.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/components/prism-scss.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/components/prism-php.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik"
    />
    <link href="/static/css/chunk-libs.eebac533.css" rel="stylesheet" />
    <link href="/static/css/app.dcd04889.css" rel="stylesheet" />
  </head>
  <body>
    <noscript
      ><strong
        >We're sorry but TriDiamond Blog doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      ></noscript
    >
    <div id="app"></div>
    <script>
      ;(function (e) {
        function t(t) {
          for (
            var o, n, i = t[0], c = t[1], u = t[2], l = 0, p = [];
            l < i.length;
            l++
          )
            (n = i[l]),
              Object.prototype.hasOwnProperty.call(a, n) &&
                a[n] &&
                p.push(a[n][0]),
              (a[n] = 0)
          for (o in c)
            Object.prototype.hasOwnProperty.call(c, o) && (e[o] = c[o])
          f && f(t)
          while (p.length) p.shift()()
          return s.push.apply(s, u || []), r()
        }
        function r() {
          for (var e, t = 0; t < s.length; t++) {
            for (var r = s[t], o = !0, n = 1; n < r.length; n++) {
              var i = r[n]
              0 !== a[i] && (o = !1)
            }
            o && (s.splice(t--, 1), (e = c((c.s = r[0]))))
          }
          return e
        }
        var o = {},
          n = { runtime: 0 },
          a = { runtime: 0 },
          s = []
        function i(e) {
          return (
            c.p +
            'static/js/' +
            ({
              404: '404',
              about: 'about',
              archives: 'archives',
              categories: 'categories',
              tags: 'tags',
              'vendors~post': 'vendors~post',
              post: 'post'
            }[e] || e) +
            '.' +
            {
              404: '50a90bee',
              about: '2d8da449',
              archives: '55c1fa24',
              categories: '4d3d6647',
              tags: '801e7b85',
              'vendors~post': '8cbc65af',
              post: 'e2b3a983'
            }[e] +
            '.js'
          )
        }
        function c(t) {
          if (o[t]) return o[t].exports
          var r = (o[t] = { i: t, l: !1, exports: {} })
          return e[t].call(r.exports, r, r.exports, c), (r.l = !0), r.exports
        }
        ;(c.e = function (e) {
          var t = [],
            r = {
              404: 1,
              about: 1,
              archives: 1,
              categories: 1,
              tags: 1,
              post: 1
            }
          n[e]
            ? t.push(n[e])
            : 0 !== n[e] &&
              r[e] &&
              t.push(
                (n[e] = new Promise(function (t, r) {
                  for (
                    var o =
                        'static/css/' +
                        ({
                          404: '404',
                          about: 'about',
                          archives: 'archives',
                          categories: 'categories',
                          tags: 'tags',
                          'vendors~post': 'vendors~post',
                          post: 'post'
                        }[e] || e) +
                        '.' +
                        {
                          404: 'ec1cc14b',
                          about: '67a2819d',
                          archives: 'b41c8192',
                          categories: '10e2be12',
                          tags: '10e2be12',
                          'vendors~post': '31d6cfe0',
                          post: 'cbf8eee4'
                        }[e] +
                        '.css',
                      a = c.p + o,
                      s = document.getElementsByTagName('link'),
                      i = 0;
                    i < s.length;
                    i++
                  ) {
                    var u = s[i],
                      l = u.getAttribute('data-href') || u.getAttribute('href')
                    if ('stylesheet' === u.rel && (l === o || l === a))
                      return t()
                  }
                  var p = document.getElementsByTagName('style')
                  for (i = 0; i < p.length; i++) {
                    ;(u = p[i]), (l = u.getAttribute('data-href'))
                    if (l === o || l === a) return t()
                  }
                  var f = document.createElement('link')
                  ;(f.rel = 'stylesheet'),
                    (f.type = 'text/css'),
                    (f.onload = t),
                    (f.onerror = function (t) {
                      var o = (t && t.target && t.target.src) || a,
                        s = new Error(
                          'Loading CSS chunk ' + e + ' failed.\n(' + o + ')'
                        )
                      ;(s.code = 'CSS_CHUNK_LOAD_FAILED'),
                        (s.request = o),
                        delete n[e],
                        f.parentNode.removeChild(f),
                        r(s)
                    }),
                    (f.href = a)
                  var d = document.getElementsByTagName('head')[0]
                  d.appendChild(f)
                }).then(function () {
                  n[e] = 0
                }))
              )
          var o = a[e]
          if (0 !== o)
            if (o) t.push(o[2])
            else {
              var s = new Promise(function (t, r) {
                o = a[e] = [t, r]
              })
              t.push((o[2] = s))
              var u,
                l = document.createElement('script')
              ;(l.charset = 'utf-8'),
                (l.timeout = 120),
                c.nc && l.setAttribute('nonce', c.nc),
                (l.src = i(e))
              var p = new Error()
              u = function (t) {
                ;(l.onerror = l.onload = null), clearTimeout(f)
                var r = a[e]
                if (0 !== r) {
                  if (r) {
                    var o = t && ('load' === t.type ? 'missing' : t.type),
                      n = t && t.target && t.target.src
                    ;(p.message =
                      'Loading chunk ' +
                      e +
                      ' failed.\n(' +
                      o +
                      ': ' +
                      n +
                      ')'),
                      (p.name = 'ChunkLoadError'),
                      (p.type = o),
                      (p.request = n),
                      r[1](p)
                  }
                  a[e] = void 0
                }
              }
              var f = setTimeout(function () {
                u({ type: 'timeout', target: l })
              }, 12e4)
              ;(l.onerror = l.onload = u), document.head.appendChild(l)
            }
          return Promise.all(t)
        }),
          (c.m = e),
          (c.c = o),
          (c.d = function (e, t, r) {
            c.o(e, t) || Object.defineProperty(e, t, { enumerable: !0, get: r })
          }),
          (c.r = function (e) {
            'undefined' !== typeof Symbol &&
              Symbol.toStringTag &&
              Object.defineProperty(e, Symbol.toStringTag, { value: 'Module' }),
              Object.defineProperty(e, '__esModule', { value: !0 })
          }),
          (c.t = function (e, t) {
            if ((1 & t && (e = c(e)), 8 & t)) return e
            if (4 & t && 'object' === typeof e && e && e.__esModule) return e
            var r = Object.create(null)
            if (
              (c.r(r),
              Object.defineProperty(r, 'default', { enumerable: !0, value: e }),
              2 & t && 'string' != typeof e)
            )
              for (var o in e)
                c.d(
                  r,
                  o,
                  function (t) {
                    return e[t]
                  }.bind(null, o)
                )
            return r
          }),
          (c.n = function (e) {
            var t =
              e && e.__esModule
                ? function () {
                    return e['default']
                  }
                : function () {
                    return e
                  }
            return c.d(t, 'a', t), t
          }),
          (c.o = function (e, t) {
            return Object.prototype.hasOwnProperty.call(e, t)
          }),
          (c.p = '/'),
          (c.oe = function (e) {
            throw (console.error(e), e)
          })
        var u = (window['webpackJsonp'] = window['webpackJsonp'] || []),
          l = u.push.bind(u)
        ;(u.push = t), (u = u.slice())
        for (var p = 0; p < u.length; p++) t(u[p])
        var f = l
        r()
      })([])
    </script>
    <script src="/static/js/chunk-libs.fb96e4c0.js"></script>
    <script src="/static/js/app.4ea8bcee.js"></script>
  </body>
</html>
