@import './theme-variables.scss';

/* Base css */
@import 'tailwindcss/base';

/* Components css */
@import 'tailwindcss/components';
@import './components/article.scss';
@import './components/sidebar-box.scss';
@import './components/search-modal.scss';

/* Utilities css */
@import 'tailwindcss/utilities';

@import './fonts.scss';
@import './transitions.scss';

.diamond-clip-path {
  clip-path: polygon(50% 3%, 91% 25%, 91% 75%, 50% 97%, 9% 75%, 9% 25%);
  background: var(--background-trans);
}

.diamond-icon {
  @apply w-12 h-12 text-xl flex items-center justify-center text-ob-bright hover:opacity-50 transition cursor-pointer;
}

html {
  scrollbar-color: rgba(82, 82, 82, 0.8) transparent;
}
