<!doctype html>
<html lang="en">
  <!-- Development mode -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <script
      rel="preload"
      src="https://unpkg.com/blueimp-md5@^2.19.0/js/md5.min.js"
    ></script>
    <script
      rel="preload"
      src="https://unpkg.com/lodash@^4.17.21/lodash.min.js"
    ></script>
    <script
      rel="preload"
      src="https://unpkg.com/gitalk@^1.8.0/dist/gitalk.min.js"
    ></script>
    <link
      href="https://unpkg.com/gitalk@^1.8.0/dist/gitalk.css"
      rel="stylesheet"
    />
    <script
      rel="preload"
      src="https://unpkg.com/valine@^1.5.1/dist/Valine.min.js"
    ></script>
    <script
      rel="preload"
      src="https://unpkg.com/leancloud-storage@^4.15.0/dist/av-min.js"
    ></script>
    <script
      rel="preload"
      src="https://unpkg.com/twikoo@^1.6.17/dist/twikoo.all.min.js"
    ></script>
    <link rel="stylesheet" href="https://fonts.loli.net/css?family=Rubik" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@waline/client@v2/dist/waline.css"
    />
    <title>Development Template</title>
  </head>
  <body id="body-container">
    <noscript>
      <strong>
        We're sorry but this app doesn't work properly without JavaScript
        enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
